

body{
    background-color:#000;
    color: #bbb;
}

#canvas{
    background-color: #A7D947;
}

.board{
    float:left;
    width: 400px;
    height: 400px;
    background-color: #8ECC38;
    padding: 7px;
   
}

#score{
    float:left;
    width: 120px;
    height: 50px;
    margin-left: 2px;
    background-color: #A7D947;
    border: 7px solid #8ECC38;
    color: #000;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}